*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.head-section{
    padding:0;
    margin:0;
    display: flex;

}
.nav-container{
    padding: 0;
    margin :0;
    width: 100%;
    height: 90px;
    border: 1px solid black;
    display: flex;
    gap: 250px;
    box-shadow: #FFFFFF;
}
.logo-section{
    padding: 5px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    width: 250px;
   
    justify-content: center;
   
}
.logo_text{
    font-size:75px;
    font-weight: 400;
    color :#005149;
}

.nav-items{
    padding:5px;
    display: flex;
    align-items: center;
   
    width:100%;
    
}
.nav-list{
    list-style: none;
    display: flex;
    gap:75px;
    padding: 10px;
    justify-content: center;
     font-size: 25px;
 

}
.list-items a{
    text-decoration: none;
    color: black;
}

.item_text{
   text-decoration: none;
   color: black;
}

